
//
// VARIABLES
//


// --text-highlight-color: #7e2e84;

// Colors
$highlight: #7E2E84;
$highlightSoft: lighten($highlight, 10%);
$highlightSoftest: lighten($highlight, 55%);
$selection: darken($highlight, 10%);

// Grays
$primaryGray: rgba(46, 46, 46, 1);
$primaryGrayTransparent: rgba(46, 46, 46, 0.9);

$gray: lighten($primaryGray, 10%);
$lightGray: lighten($primaryGray, 60%);;
$ivory: #FEFFF4;

// Main
$background: $ivory;
$mainfont: $primaryGray;
$lightFont: $ivory;
$headingFont: $primaryGray;

// Tables
$tableBorder: $highlight;
$tableBackground:  $ivory;

// Search
$searchInput: $highlight;
$searchBackground: $highlightSoftest;

//Boxes
$pullquoteBackground: $highlight;
$blockquoteBackground: $highlightSoftest;
$mathEnvBackground: $highlightSoftest;
$codeEnvBackground: #363028;
$thanksBackground: $highlightSoftest;
$crosspostBackground: $highlightSoftest;

// Tags
$postTagsBackground: $highlight;
$postTagsText: #fff;

// Links
$link: $highlight;

// Code
$codeText: $highlightSoft;
$codeBackground: #fafafa;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}